[Unit]
Description=Run foo weekly and on boot

[Timer]
OnBootSec=1min
OnActiveSec=1min
#//OnUnitActiveSec=5min
WakeSystem=true
OnCalendar=*-*-* 04:00:00

[Install]
WantedBy=timers.target
