[Unit]
Description=Slacks off
Wants=slacker.timer

[Service]
WorkingDirectory=/opt/projects/slacker
Type=oneshot
ExecStart=/usr/bin/free
ExecStart=/usr/bin/lsblk
ExecStart=/opt/projects/slacker/slacker.sh
ExecStart=/opt/projects/slacker/decide-to-suspend-or-not.sh

[Install]
WantedBy=multi-user.target
